.CBMbuttonHome {

  align-items: center;
  position:relative;
  padding:8px 25px;
  border:2px solid #eF3300;
  background-color:#eF3300;
  color:#fafafa;
  left:40%;
}
.CBMbuttonHome:hover  {
  background-color:#fafafa;
  color:#EF3300;
}

.CBMwelcomeMessage{
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
  font-size: 50px;
}
.buttonWrapper{
  margin-left: none;
  margin-right: none;
}

body{
  margin-left: 30%;
  margin-right: 30%;
}
