@charset "UTF-8";

html {height: =100%; }
header{
  position: fixed;
  margin-top: auto;
  margin-left: 20px;
}
form{
  backface-visibility: hidden;
  background-color: yellow;
}
body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
    position: relative;
}
h2{
  color: red;
  position: relative;
}
.box{
  margin: auto;
}
.box img {
  display: block;
  margin: 0 0 10px;
  width: 50%;
}
.button {
  position:relative;
  padding:8px 25px;
  left:-10px;
  border:2px solid #eF3300;
  background-color:#eF3300;
  color:#fafafa;
}


.lk-wrap {
  height: auto !important;
  height: 200%;
  margin-bottom: -100px;
  min-height: 100%;
  position: relative;
}
