{{>menu}}

<h3> Welcome to Dashboard </h3>



<div class="content">

<div class="posts">

  {{#each feed}}
  <div class="feedBox">
    <img src="{{this.images.standard_resolution.url}}" alt="" >
    {{this}}
    <div class="group-btn cs-clear">
      <button class="btn accent-1 pull--left">{{this.likes.count}} Likes</button>
      <button class="btn accent-1 pull--right">{{this.comments.count}} Comments</button>
    </div>
  </div>
  {{/each}}


</div>
</div>
