<h6> Welcome to Search Page! </h6>


<div class="posts">

  {{#each feed}}
  <img src="{{this.images.standard_resolution.url}}" alt="" >
  <button class="btn accent-1 pull--left">Like!</button>
  <button class="btn accent-1 pull--right">Dislike!</button>
    {{this}}
  {{/each}}

</div>
