<!DOCTYPE html>
<html lang = "en">
  <head>
    <link type="text/css"; rel="stylesheet"; href="/CSS/CommonStyles2.css"/>
    <link type="text/css"; rel="stylesheet"; href="/CSS/jake2.css"/>

    <meta charset="utf-8">
    <title>INSTAGRAM fun_auth</title>
  </head>
  <body>

    <div class = "cs-squeeze">
       <a href="/authorize" class="buttonBar">Home</a>
       <a href="/feed" class="buttonBar">Dashboard</a>
       <a href="UserProfileKayden.html" class="buttonBar">Profile</a>
       <a href="NoelleSearches.html" class="buttonBar">Search</a>
       <h2> Welcome, [Username] </h2>
    </div>
    {{{body}}}
  </body>
</html>
