<!DOCTYPE html>
<html lang = "en">
  <head>
    <link type="text/css"; rel="stylesheet"; href="/CSS/CommonStyles2.css"/>
    <link type="text/css"; rel="stylesheet"; href="/CSS/jake2.css"/>
    <link type="text/css"; rel="stylesheet"; href="/CSS/noelleCSS.css"/>

    <meta charset="utf-8">
    <title>USU INSTAGRAM</title>
  </head>
  <body>

    <div class = "cs-squeeze">
       <a href="/authorize" class="buttonBar">Home</a>
       <a href="/feed" class="buttonBar">Dashboard</a>
       <a href="/profile" class="buttonBar">Profile</a>
       <a href="/search" class="buttonBar">Search</a>
       <h2>Welcome, username</h2>
    </div>
    {{{body}}}
  </body>
</html>
