<!DOCTYPE html>
<html lang = "en">
  <head>
    <link type="text/css"; rel="stylesheet"; href="/CSS/CommonStyles2.css"/>
    <link type="text/css"; rel="stylesheet"; href="/CSS/jake2.css"/>
    <link type="text/css"; rel="stylesheet"; href="/CSS/noelleCSS.css"/>
    <link type="text/css"; rel="stylesheet"; href="/CSS/kaydenStyle.css"/>
    <meta charset="utf-8">
    <title>USU INSTAGRAM</title>
  </head>
  <body>



    {{{body}}}
  </body>
</html>
