<div class = "menu">
   <a href="/" class="buttonBar">Home</a>
   <a href="/feed" class="buttonBar">Dashboard</a>
   <a href="/profile" class="buttonBar">Profile</a>
   <a href="/search" class="buttonBar">Search</a>
   <h2>Welcome, username</h2>
</div>
